@font-face {
    font-family: 'font1';
    src: url('/font/Cerebri-Sans-Bold.ttf');
    font-weight: normal;
}
*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   }
body {
    margin: 0px;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
.header {
    width: 100%;
    height: 192px;
    background-color: #ffffff7a;
    border-bottom: 1px solid #0000001c;
}   
.warpper{
    background-image: url();

}
/* .header {
    width: 100%;
    height: 192px;
    background-color: #ebe5ef;
} */
.header__top {
    width: 100%;
    height: 20%;
}
.header__top-ul-span {
    padding-left: 9px;
}

ul.header__top-ul {
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 17px;
    margin-right: 120px;
}
li.header__top-ul1 a {
    text-decoration: none;
    color: black;
}
li.header__top-ul2 a {
    text-decoration: none;
    color: black;
}
li.header__top-ul3 a {
    text-decoration: none;
    color: black;
}
.header__top-center {
    width: 100%;
    height: 47%;
    display: flex;
    justify-content: space-evenly;
}
.header__top-center-img {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.header__top-center-search {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__top-center-search-wrapper {
    overflow: hidden;
    border-radius: 11px;
    border: 1px solid;
    height: 48px;
    width: 68%;
    display: flex;
    align-items: center;
}

button.header__top-center-search-buttom {
    width: 20%;
    height: 100%;
    padding: 0;
    border: none;
}
input.header__top-center-search-input {
    width: 80%;
    padding: 0;
    outline-style: none;
    height: calc(100% - 6px);
    border: none;
    padding-left: 27px;
}
.header__top-center-cart {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__top-center-cart span {
    color: white;
}

a.header__top-center-cart-a {
    background: #ac5077;
    width: 40%;
    height: 48px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__top-bottom {
    width: 100%;
    height: 33%;
    display: flex;
}
.header__top-bottom-left {
    width: 70%;
    height: 100%;
    padding-left: 105px;
    display: flex;
    border: 1px solid #0000000d;
}
ul.header__top-bottom-left-ul {
    display: flex;
    gap: 47px;
    align-items: center;
}
li#header__top-bottom-left-ul-li1::before {
    border-bottom: 2px solid red;
    display: none;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
li#header__top-bottom-left-ul-li1 span {
    font-size: 10px;

}
li#header__top-bottom-left-ul-li2 span {
    font-size: 10px;
}
li#header__top-bottom-left-ul-li3 span {
    font-size: 10px;
}
.header__top-bottom-right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0000000d;
}
/*khi hover:*/
li#header__top-bottom-left-ul-li1 :hover{
    display: block;
}


ul.header__top-ul a:hover {
    color: #ac5077;
}
div#header__top-center-img-ida:hover {
    color: #ac5077;
}




.footer {
    width: 100%;
    height: 600px;
}
.footer__footer1 {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer__footer2 {
    display: flex;
    width: 100%;
    height: 55%;
}
.footer__footer2-Occasions.\&.Ranges {
    width: 40%;
    height: 100%;
}
.footer__footer2-Occasions.\&.Ranges-top {
    display: flex;
    align-items: center;
    font-size: 22px;
    width: 100%;
    height: 15%;
    padding-left: 66px;
    font-family: 'font1';
    justify-content: space-evenly;
}

.footer__footer2-Occasions.\&.Ranges-booton {
    width: 100%;
    height: 68%;
    display: flex;
    justify-content: flex-end;
}
ul.footer__footer2-Occasions.\&.Ranges-booton-ul {
    display: grid;
    grid-template-columns: 50% 50%;
}
li.footer__footer2-Occasions.\&.Ranges-booton-ul-li {
    padding-bottom: 15px;
}
li.footer__footer2-Occasions.\&.Ranges-booton-ul-li a {
    color: #ac5077;
}


.footer__footer2-Site.Links {
    width: 25%;
    height: 100%;
}
.footer__footer2-Site.Links-top {
    
    display: flex;
    align-items: center;
    font-size: 22px;
    width: 100%;
    height: 15%;
    font-family: 'font1';
    justify-content: center;
}
ul.footer__footer2-Site.Links-booton-ul {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
li.footer__footer2-Site.Links-booton-ul-li {
    padding-bottom: 15px;
}
li.footer__footer2-Site.Links-booton-ul-li a {
    color: #ac5077;
}




.footer__footer2-Get.in.Touch {
    width: 35%;
    height: 100%;
}
.footer__footer2-Get.in.Touch-top {
    display: flex;
    align-items: center;
    font-size: 22px;
    width: 100%;
    height: 15%;
    font-family: 'font1';
}
.footer__footer2-Get.in.Touch-booton {
    width: 100%;
    height: 85%;
}
li.footer__footer2-Get.in.Touch-booton-call-li {
    color: #ac5077;
    padding-bottom: 15px;
}
li.footer__footer2-Get.in.Touch-booton-call-li a {
    color: #ac5077;
}



li.footer__footer2-Get.in.Touch-booton-icon-ul-li {
    padding-bottom: 15px;
}
a.footer__footer2-Get.in.Touch-booton-icon-ul-li-a1 {
    color: #55acee;
}
a.footer__footer2-Get.in.Touch-booton-icon-ul-li-a2 {
    color: #3b5998;
}
a.footer__footer2-Get.in.Touch-booton-icon-ul-li-a3 {
    color: #cd486b;
}
li.footer__footer2-Get.in.Touch-booton-icon-ul-li i {
    padding-right: 20px;
}



.footer__footer3 {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__footer3-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__footer3-top a {
    padding-bottom: 30px;
}
